<p id="notice"><%= notice %></p>

<h1 align="center">Staff</h1>

<p align="center"><%= link_to 'New Staff', new_staff_path %></p>

<table align="center" border="1">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Position</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.first_name %></td>
        <td><%= staff.last_name %></td>
        <td><%= staff.position %></td>
        <td><%= link_to 'Show', staff %></td>
        <td><%= link_to 'Edit', edit_staff_path(staff) %></td>
        <td><%= link_to 'Destroy', staff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

