<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @staff.last_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.position %>
</p>

<div id="sales_table">
<% if @staff.position == "Sales Person" %>

<p align="center">Sales Made</p>

<table align="center" border="1">
  <thread>
  <tr>
    <th>Customer</th>
    <th>Car Vin Number</th>
  <th>Total</th>
  </tr>
  </thread>

  <tbody>
  <% for quote in @staff.quotes.where(:sold => true)%>

    <tr>
      <td><%= quote.customer.cname %></td>
      <td><%= quote.car.vin %></td>
      <td><%= number_to_currency(quote.total) %></td>

    </tr>

<%end%>
  </tbody>
</table>
<% end %>
</div>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
