<table align="center" border="1">
  <thead>
  <tr>
    <th>Staff</th>
    <th>Customer</th>
    <th>Car</th>
    <th>Price</th>
    <th>Sales tax</th>
    <th>Total</th>
    <th>Sold</th>
    <th>Actions</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody align="center">
  <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.staff.name %></td>
        <td><%= quote.customer.cname %></td>
        <td><%= quote.car.vin %></td>
        <td><%= number_to_currency(quote.price) %></td>
        <td><%= number_to_currency(quote.sales_tax) %></td>
        <td><%= number_to_currency(quote.total) %></td>
        <td><%= quote.sold %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>