<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @quote.staff_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.cname %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quote.price %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @quote.sales_tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote.total %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.sold %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
