<p id="notice"><%= notice %></p>

<h1 align="center">Customers</h1>

<div id="search-field-wrapper" align="center">
  <%= form_tag customers_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :model => nil %>
        <%= link_to 'Cancel', customers_path %>
      </p>
  <% end %>
</div>

<table align="center" border="1">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Cust status</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <p align="center"><%= link_to 'New Customer', new_customer_path %></p>

  <tbody align="center">
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.cust_status %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


