<p id="notice"><%= notice %></p>

<h1 align="center">Loans</h1>

<table align="center" border="1">
  <thead>
    <tr>
      <th>Quote</th>
      <th>Initial amount</th>
      <th>Years</th>
      <th>Down Payment</th>
      <th>Interest Rate</th>
      <th>Interest Total</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <p align="center"><%= link_to 'New Loan', new_loan_path %></p>

  <tbody align="center">
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.quote.quotetype %></td>
        <td><%= number_to_currency(loan.initial_amount) %></td>
        <td><%= loan.years %></td>
        <td><%= loan.down_payment %></td>
        <td><%= loan.interest_rate.round(2) %></td>
        <td><%= number_to_currency(loan.interest_sum) %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


