<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @loan.quote_id %>
</p>

<p>
  <strong>Initial amount:</strong>
  <%= @loan.initial_amount %>
</p>

<p>
  <strong>Years:</strong>
  <%= @loan.years %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= @loan.down_payment %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan.interest_rate %>
</p>

<%= render 'amortization_table' %>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
