/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#title {font-size: xx-large;
    text-align: center;
    font-family: Verdana;

}

a:link, {color: #ffffff;
    text-decoration: none;

}
a:visited {color: #ffffff}
a {color: #ffffff}

#pic {align-content: center;}

#back {color: #ffffff;
    background-color: #2E2F30;
}

#div {align-content: center;}


#header {color: #ffffff;
    text-align: center;
    border: double;
    margin: auto;
    font-weight: bold;
    width: 500px;
    padding: 10px;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: larger;

    }

.hidden {display: none}