<p id="notice"><%= notice %></p>

<h1 align="center">Inventory</h1>


<div id="search-field-wrapper" align="center">
<%= form_tag cars_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :model => nil %>
      <%= link_to 'Cancel', cars_path %>
    </p>
<% end %>
</div>

<p align="center"> <%= link_to 'New Car', new_car_path %></p>

<table align="center" border="1">
  <thead>
    <tr>
      <th>Model</th>
      <th>Color</th>
      <th>Vin</th>
      <th>Year</th>
      <th>Wholesale price</th>
      <th>Markup price</th>
      <th>Sold</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.vin %></td>
        <td><%= car.year %></td>
        <td><%= number_to_currency(car.whs_price) %></td>
        <td><%= number_to_currency(car.mu_price) %></td>
        <td><%= car.sold %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


