<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Whs price:</strong>
  <%= @car.whs_price %>
</p>

<p>
  <strong>Mu price:</strong>
  <%= @car.mu_price %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @car.sold %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
