<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= f.label :tgr, "Total Gross Revenue:" %><br>
    <%= number_to_currency(@report.calc_tgr) %>
    <%= f.text_field :tgr, :class => "hidden"%>
  </div>
  <div class="field">
    <%= f.label :net_profit, "Net Profit:" %><br>
    <%= number_to_currency(@report.calc_net_profit) %>
    <%= f.text_field :net_profit, :class => "hidden" %>
  </div>
  <div class="field">
    <%= f.label :sales_tax_total, "Sales Tax Total:" %><br>
    <%= number_to_currency(@report.calc_st_total) %>
    <%= f.text_field :sales_tax_total, :class => "hidden" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
