<p id="notice"><%= notice %></p>

<h1 align="center">Reports</h1>

<table align="center" border="1">
  <thead>
    <tr>
      <th>Total Gross Revenue</th>
      <th>Net Profit</th>
      <th>Sales Tax Total</th>
      <th>Date</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <p align="center"><%= link_to 'New Report', new_report_path %></p>

  <tbody align="center">
    <% @reports.each do |report| %>
      <tr>
        <td><%= number_to_currency(report.tgr) %></td>
        <td><%= number_to_currency(report.net_profit) %></td>
        <td><%= number_to_currency(report.sales_tax_total) %></td>
        <td><%= report.created_at.strftime("%x") %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


