<p id="notice"><%= notice %></p>

<p>
  <strong>Tgr:</strong>
  <%= number_to_currency(@calc_tgr) %>
</p>

<p>
  <strong>Net profit:</strong>
  <%= number_to_currency(@calc_net_profit) %>
</p>

<p>
  <strong>Sales tax total:</strong>
  <%= number_to_currency(@calc_st_total) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.created_at.strftime("%x") %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
