<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="back">

<p id="title">Collin's Car Shop</p>


<div style="text-align: center">
  <%= image_tag("picture.jpg", size:"500x250", alt:"pic") %>
  </div>

<div id="header">
<%= link_to "Car", cars_path %>
<%= link_to "Customers", customers_path %>
<%= link_to "Loans", loans_path %>
<%= link_to "Quotes", quotes_path %>
<%= link_to "Staff", staffs_path %>
<%= link_to "Report", reports_path %>
</div>
<%= yield %>


</body>
</html>
